@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Tsubasa";
}

@section page {
    <div class="game-panel">
        <div id="SWScene">
            <img id="SWJP1" src="~/Images/SoulWorker/SWRollingJP1.png" />
            <img id="SWActor1" class="actors" src="~/Images/SoulWorker/SWActor1.png" />
            <img id="SWSceneLogo" src="~/Images/SoulWorker/SWSceneLogo.png" />
            <img id="SWJP2" src="~/Images/SoulWorker/SWRollingJP2.png" />
            <img id="SWJP3" src="~/Images/SoulWorker/SWRollingJP3.png" />
            <img id="SWActor2" class="actors" src="~/Images/SoulWorker/SWActor2.png" />
            <div id="SWBanner">
                <h3 class="slots">Slots: 39/45</h3>
                <h2 class="server">Server: Tenebris</h2>
                <h2 class="level">Guild Level: 6</h2>
            </div>
            <a href="~/SoulWorker/Apply" id="SWSceneApplyButton" class="SWButton">Apply Now</a>
        </div>
        <div id="MS2Scene">
            <img id="MS2SceneLogo" src="~/Images/Maplestory2/MS2SceneLogo.png" />
            <div id="MS2Parallax"  data-relative-input="true">
                <img id="MS2Actor1" data-depth="0.2" src="~/Images/Maplestory2/MS2Actor1.png" />
                <img id="MS2Actor2" data-depth="0.4" src="~/Images/Maplestory2/MS2Actor2.png" />
            </div>
            <h2 id="MSHeaderText">Soaring to a sky </h2>
            <h2 id="MSHeaderText2">near you</h2> 
            <h2 id="MSHeaderText3">sometime soon!</h2>
            <a class="maplestory-button-cta" href="http://maplestory2.nexon.net/en/signup" title="Sign Up For Beta">
                <span>Sign Up For Beta</span>
            </a>
        </div>
        <div id="discordBanner">
            <h2>Spread Your Wings and Fly Away!</h2>
            <!--<h3>Select a game below to learn more about us</h3>
            <h3>or</h3>-->
            <h3>JOIN US ON</h3>
            <a class="discordButton" href="https://discord.gg/ysStgPw">
                <div class="buttonWrap">
                    <img src="~/Images/Discord.png" />
                </div>
            </a>
        </div>
        <div class="MS2HoverArea">
            <div id="MS2Logo">
                <img src="~/Images/Maplestory2/MS2BWLogo.png" />
            </div>
            <div id="MS2LogoColour">
                <img src="~/Images/Maplestory2/MS2ColourLogo.png" />
            </div>
        </div>
        <div class="SWHoverArea">
            <div id="SWLogo">
                <img src="~/Images/SoulWorker/SWBWLogo.png" />
            </div>
            <div id="SWLogoColour">
                <img src="~/Images/SoulWorker/SWColourLogo.png" />
            </div>
        </div>
        <img id="clickMeRight" class="clickMe" src="~/Images/ClickMeRight.png" />
        <img id="clickMeLeft" class="clickMe" src="~/Images/ClickMeLeft.png" />
        <div id="divider"></div>
        <img id="closeButton" src="~/Images/Close.png" />
        <div class="SWSide SWBW"></div>
        <div class="SWSide SWColour"></div>
        <div class="MS2Side MS2BW"></div>
        <div class="MS2Side MS2Colour"></div>
    </div>
}
@section scripts {
   <script type="text/javascript">
       var SWOpen = false, MS2Open = false;
       function animateJP1(targetElement, speed) {
           $(targetElement).animate({ right: '-=2', top: '+=40' },
               {
                   duration: speed,
                   complete: function () {
                       $(targetElement).animate({ right: '+=2', top: '-=40' },
                           {
                               duration: speed,
                               complete: function () {
                                   if (SWOpen && $(window).width() < 768) {
                                       animateJP1(targetElement, speed);
                                   }
                               }
                           });
                   }
               });
       };
       function animateJP2(targetElement, speed) {
           $(targetElement).animate({ right: '-=2', bottom: '+=40'},
               {
                   duration: speed,
                   complete: function () {
                       $(targetElement).animate({ right: '+=2', bottom: '-=40'},
                           {
                               duration: speed,
                               complete: function () {
                                   if (SWOpen) {
                                       animateJP2(targetElement, speed);
                                   }
                               }
                           });
                   }
               });
       };

       $(document).ready(function () {
           var scene = $('#MS2Parallax').get(0);
           var MS2Parallax = new Parallax(scene);
           $('.SWHoverArea').hover(function () {
               if ($('#SWLogoColour').css('display') == 'none' && $(window).width() > 768) {
                   $('.SWColour').fadeIn(1000);
                   $('#SWLogoColour').fadeIn(200);
                   $('#clickMeLeft').fadeIn(200);
               }
               
           }, function () {
               if ($('#SWLogoColour').css('display') == 'block' && $(window).width() > 768) {
                   $('.SWColour').fadeOut(1000);
                   $('#SWLogoColour').fadeOut(200);
                   $('#clickMeLeft').fadeOut(200);
               }
           });
           $('.MS2HoverArea').hover(function () {
               if ($('#MS2LogoColour').css('display') == 'none' && $(window).width() > 768) {
                   $('.MS2Colour').fadeIn(1000);
                   $('#MS2LogoColour').fadeIn(200);
                   $('#clickMeRight').fadeIn(200);
               }
           }, function () {
               if ($('#MS2LogoColour').css('display') == 'block' && $(window).width() > 768) {
                   $('.MS2Colour').fadeOut(1000);
                   $('#MS2LogoColour').fadeOut(200);
                   $('#clickMeRight').fadeOut(200);
               }
           });
           $('#SWLogoColour').click(function () {
               SWOpen = true;
               $('#SWScene').fadeIn(1000);
               if ($(window).width() < 768) {
                   animateJP1('#SWJP1', 6000);
               }
               animateJP2('#SWJP2', 4000);
               setTimeout(function () {
                   animateJP2('#SWJP3', 6000);
               }, 500);
               $('#closeButton').fadeIn(1000);
           });
           $('#MS2LogoColour').click(function () {
               SWOpen = true;
               $('#MS2Scene').fadeIn(1000);
               $('#closeButton').fadeIn(1000);
               MS2Parallax.enable();
           });
           $('#closeButton').click(function () {
               SWOpen = false;
               MS2Open = false;
               $('#SWScene').fadeOut(1000);
               $('#MS2Scene').fadeOut(1000);
               $('#closeButton').fadeOut(1000);
           });
       });
    </script>
}