@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Viga');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------- Primary style -------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "Titillium Web", sans-serif;
    color: black;
    background-color: #1a1a1a;
}
a {
    color: #6cac70;
    text-decoration: none;
}

/*
##############
# Navigation #
##############
*/

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: #1a1a1a;
    z-index: 2;
    padding-top: 100px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

@media only screen and (min-width: 768px) {
    .cd-main-content {
        padding-top: 100px;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: black;
    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#cd-logo {
    height: 75px;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    font-family: 'Acme', sans-serif;
    color: white;
    text-align: center;
}

header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

header.is-fixed {
    position: fixed;
}

@media only screen and (min-width: 768px) {
    header {
        height: 100px;
    }
}

#cd-logo {
    float: left;
    margin: 12px 0 0 20px;
    font-size: 13px;
}

    #cd-logo img {
        height: 60px;
    }

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 12px 0 0 15px;
    }
}

#cd-top-nav {
    position: absolute;
    top: 0;
    right: 120px;
    height: 100%;
    display: none;
}

#cd-top-nav ul {
    height: 100%;
}

#cd-top-nav li {
    height: 100%;
    display: inline-block;
    padding: 34px 1em;
    transition: 0.4s;
}

#cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

    #cd-top-nav a.current {
        background-color: #7289da;
    }

#cd-top-nav li:hover {
    background-color: #7289da;
}

.no-touch #cd-top-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) {
    #cd-top-nav {
        display: block;
    }
}

#cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #303030;
}

#cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
}

#cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
}

#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
}

#cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
}

#cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #cd-menu-trigger {
        width: 110px;
        padding-left: 1.25em;
    }

        #cd-menu-trigger .cd-menu-text {
            display: inline-block;
            line-height: 100px;
        }

        #cd-menu-trigger .cd-menu-icon {
            left: auto;
            right: 1.25em;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
}

#cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    background-color: black;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
}

#cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
}

#cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
}

#cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: white;
}

#cd-lateral-nav a.current {
    background-color: #3a4a4d;
    color: #FFF;
}

.no-touch #cd-lateral-nav a:hover {
    color: #FFF;
}

@media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
        margin: 20px 0;
    }
}

#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
/* style menu items which have a submenu */
#cd-lateral-nav .item-has-children > a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

#cd-lateral-nav .item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    /*background: url("../Images/cd-arrow.svg") no-repeat center center;*/
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
    padding: 0 32px;
}

#cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both;
}

#cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    /*background-image: url("../Images/cd-socials.svg");*/
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em;
}

#cd-lateral-nav .socials a.cd-twitter {
    background-position: 0 0;
}

#cd-lateral-nav .socials a.cd-github {
    background-position: -32px 0;
}

#cd-lateral-nav .socials a.cd-facebook {
    background-position: -64px 0;
}

#cd-lateral-nav .socials a.cd-google {
    background-position: -96px 0;
}

.no-touch #cd-lateral-nav .socials a:hover {
    background-color: black;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
    background-position: 0 -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-github {
    background-position: -32px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
    background-position: -64px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-google {
    background-position: -96px -32px;
}

.menu-is-open {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}

/*
#############################
# General Main Page Styling #
#############################
*/

#clickMeRight {
    width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    pointer-events: none;
}

#clickMeLeft {
    width: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    pointer-events: none;
}

.buttonWrap {
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #7289da;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonWrap:hover {
    box-shadow: 0px 15px 20px rgba(114, 137, 218, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#discordBanner {
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0;
    top: 100px;
    background-image: url('../Images/MainHeaderBG.png');
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    max-height: 100%;
    pointer-events: none;
    text-align: center;
}

#discordBanner h2 {
    color: white;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 5px 20px rgba(114, 137, 218, 1);
}

#discordBanner h3 {
    color: white;
    font-family: 'Acme', sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0px 5px 15px rgba(114, 137, 218, 0.6);
}

.discordButton {
    pointer-events: all;
}

.discordButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#divider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/MobileDivider.png');
    background-position: bottom center;
    z-index: 95;
    pointer-events: none;
}

#closeButton {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50px;
    height: auto;
    display: block;
    z-index: 502;
    cursor: pointer;
    display: none;
}

@media only screen and (min-width: 0px) {
    .discordButton {
        width: 175px;
    }

    .buttonWrap {
        width: 175px;
        padding: 10px;
    }

    .buttonWrap img {
        width: 100px;
    }

    #discordBanner {
        padding-top: 5%;
        background-size: auto 110%;
    }

    #discordBanner h2 {
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    #discordBanner h3 {
        font-size: 18px;
    }

    .clickMe {
        opacity: 0;
    }

    #divider {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    #divider {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #discordBanner {
        background-size: cover;
    }
    
    #discordBanner h2 {
        font-size: 50px;
    }

    #discordBanner h3 {
        font-size: 22px;
    }

    .clickMe {
        opacity: 1;
    }
}

@media only screen and (min-width: 1440px) {
    .discordButton {
        width: 250px;
    }

    .buttonWrap {
        width: 250px;
        padding: 15px;
    }

    .buttonWrap img {
        width: 150px;
    }

    #discordBanner h2 {
        font-size: 65px;
        padding-bottom: 100px;
    }

    #discordBanner h3 {
        font-size: 26px;
    }
}

/*
##############
# SoulWorker #
##############
*/

/* Main View */

#SWLogo {
    z-index: 35;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

#SWLogoColour {
    z-index: 35;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 0;
    cursor: pointer;
}

.SWHoverArea {
    width: 50%;
    max-width: 40%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.SWBW {
    background-image: url('../Images/SoulWorker/SWBWBG.png');
}

.SWColour {
    background-image: url('../Images/SoulWorker/SWColourBG.png');
    z-index: 30;
}

.SWSide {
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom left;
    overflow: hidden;
    pointer-events: none;
    background-size: contain;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 0px) {
    .SWSide {
        background-size: auto 50%;
        background-position: left -50px bottom;
        width: 50%;
    }

    .SWColour {
        display: block;
    }

    #SWLogoColour {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .SWSide {
        background-size: contain;
        height: 100%;
        width: 100%;
        background-position: left bottom;
    }

    .SWColour {
        display: none;
    }

    #SWLogoColour {
        display: none;
    }
}

/* Main Scene */

#SWScene {
    background-image: url('../Images/SoulWorker/SWSceneBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    pointer-events: none;
}

#SWActor1, #SWJP1 {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 400;
    pointer-events: none;
}


#SWActor2 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 50%;
    pointer-events: none;
}

#SWJP2, #SWJP3 {
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

#SWSceneLogo {
    position: absolute;
    bottom: 2px;
    left: 0;
    max-width: 40%;
    z-index: 501;
    pointer-events: none;
}

#SWBanner {
    position: absolute;
    top: 0;
    z-index: 500;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: url('../Images/SoulWorker/SWBannerBG.png');
    background-position: top center;
    background-size: cover;
    text-align: right;
}

#SWBanner h2 {
    font-family: 'Passion One', sans-serif;
    color: white;
}

#SWBanner h3 {
    font-family: 'Passion One', sans-serif;
    color: white;
}

#SWSceneApplyButton {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 505;
    pointer-events: auto;
    cursor: pointer;
    padding: 1% 2%;
}

@media only screen and (min-width: 0px) {
    #SWActor1, #SWJP1 {
        height: 100%;
        max-width: 400%;
        left: -25%;
    }

    #SWActor2 {
        display: none;
    }

    #SWJP2 {
        right: 5%;
    }

    #SWJP3 {
        display: none;
    }

    #SWSceneApplyButton {
        width: 175px;
        bottom: 55%;
    }

    #SWBanner {
        padding-top: 125px;
        padding-right: 75px;
        padding-left: 75px;
    }

    #SWBanner h2 {
        font-size: 24px
    }

    #SWBanner h3 {
        font-size: 48px;
    }
}

@media only screen and (min-width: 768px) {
    #SWActor1, #SWJP1 {
        height: auto;
        max-width: 100%;
        left: 0;
    }

    #SWActor2 {
        display: block;
    }

    #SWJP2 {
        right: 0;
    }

    #SWJP3 {
        right: 45px;
        display: block;
    }

    #SWSceneApplyButton {
        width: 225px;
        bottom: 50px;
    }

    #SWBanner {
        padding-top: 150px;
        padding-right: 50px;
        padding-left: 50px;
    }

    #SWBanner h2 {
        font-size: 32px;
    }

    #SWBanner h3 {
        font-size: 72px;
    }
}

/* SW Application Page */

.SWApply {
    width: 100%;
    height: 100%;
    background-image: url('../Images/SWApplyBG.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: fixed;
    overflow: scroll;
}

.SWApply::-webkit-scrollbar {
    width: 6px;
    background-color: #1a1a1a;
}

.SWApply::-webkit-scrollbar-thumb {
    background-color: #7289da;
}

.SWApply::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1a1a1a;
}

.SWApply h2 {
    color: white;
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 5px 20px rgba(114, 137, 218, 1);
    text-align: center;
    padding-top: 50px;
}

.SWApply h3 {
    color: white;
    font-family: 'Viga', sans-serif;
    text-shadow: 0px 5px 20px rgba(114, 137, 218, 1);
    text-align: center;
    padding-top: 20px;
}

.SWApplyBox {
    background: rgba(8,9,11,.75);
    padding: 30px;
    position: absolute;
    display: block;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    margin-bottom: 200px;
}

.question {
    display: block;
    width: 100%;
    clear: both;
}

.SWApplyBox input[type=text], .SWApplyBox textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-bottom-color: hsla(0,0%,100%,.1);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 12px;
    outline: none;
    resize: none;
    width: 100%;
    color: #fab523;
    font-family: 'Viga', sans-serif;
    margin-bottom: 30px;
}

.SWApplyBox textarea {
    resize: none;
    overflow: hidden;
}

.submitButton {
    text-align: center;
}

.SWApplyBox input[type=submit] {
    width: 100%;
}

.SWApplyBox input[type=submit], .SWButton {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #fab523;
    border-radius: 0;
    border: none;
    box-shadow: -4px 3px 0 #000;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    color: black;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    line-height: normal;
    overflow: hidden;
    padding: 2% 5%;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.SWApplyBox input[type=submit]:hover, .SWButton:hover {
    background-color: #fcdb68;
}

.radio {
    position: relative;
    display: block;
    padding-left: 40px;
    margin-bottom: 12px;
    line-height: 22px;
    font-size: 18px;
    color: #fab523;
    font-family: 'Viga';
    cursor: pointer;
}

.radio:before {
    background: #fff;
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 22px;
    height: 21px;
    border: 1px solid #bbb;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: inset 0 0 3px 0 #ccc;
    -moz-box-shadow: inset 0 0 3px 0 #ccc;
    -webkit-box-shadow: inset 0 0 3px 0 #ccc;
}

.radio-choice input[type="radio"] {
    display: none;
}

.radio-choice input[type="radio"]:checked + label:before {
    content: "\2022";
    text-align: center;
    line-height: 15px;
    font-family: Tahoma;
    font-size: 27px;
    color: #fab523;
    text-shadow: 0 0 4px #bbb;
}

.radio-choice {
    float: left;
    clear: none;
    margin-right: 40px;
    margin-top: 12px;
    margin-bottom: 30px;
}

#ClassSelectList {
    width: 100%;
    margin: 20px 0;
}

#ClassSelectList input {
    display: none;
}

#ClassSelectList input:active + .CharacterClass {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

#ClassSelectList input:checked + .CharacterClass {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.CharacterClass {
    height: 0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 100ms ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.ActiveClass {
    cursor: pointer;
}

.ActiveClass:hover {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    filter: grayscale(50%);
}

.InactiveClass {
    cursor: not-allowed;
}

#ClassHaru {
    background-image: url('../Images/SoulWorker/ClassHaru.png');
}

#ClassErwin {
    background-image: url('../Images/SoulWorker/ClassErwin.png');
}

#ClassLily {
    background-image: url('../Images/SoulWorker/ClassLily.png');
}

#ClassStella {
    background-image: url('../Images/SoulWorker/ClassStella.png');
}

#ClassJin {
    background-image: url('../Images/SoulWorker/ClassJin.png');
}

#ClassIris {
    background-image: url('../Images/SoulWorker/ClassIris.png');
}

#ApplyHaru, #ApplyStella {
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

#ApplyStella {
    right: 0;
}

#ApplyHaru {
    left: 0;
}

@media only screen and (min-width: 0px) {
    #ApplyHaru, #ApplyStella {
        display: none;
    }

    .SWApplyBox {
        width: 100%;
    }

    .CharacterClass {
        width: 23%;
        padding-top: 70%;
    }

    .InactiveClass {
        display: none;
    }

    .SWApply h2 {
        font-size: 28px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .SWApply h3 {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #applyConfirmStart {
        padding-top: 20%;
    }

    #applyConfirmEnd {
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) {
    #ApplyHaru, #ApplyStella {
        display: block;
        width: 65%;
    }

    .SWApplyBox {
        width: 40%;
    }

    .CharacterClass {
        width: 15.5%;
        padding-top: 46%;
    }

    .InactiveClass {
        display: inline-block;
    }

    .SWApply h2 {
        font-size: 46px;
    }

    .SWApply h3 {
        font-size: 24px;
    }

    #applyConfirmStart {
        padding-top: 5%;
    }

    #applyConfirmEnd {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 1440px) {
    #ApplyHaru, #ApplyStella {
        display: block;
        width: 70%;
    }
}

/*
################
# MapleStory 2 #
################
*/
    /* Main View */
    #MS2Logo {
        z-index: 35;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
    }

#MS2Logo img, #SWLogo img, #MS2LogoColour img, #SWLogoColour img {
    width: 100%;
}

#MS2LogoColour {
    z-index: 35;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.MS2HoverArea {
    width: 50%;
    max-width: 40%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

.MS2BW {
    background-image: url('../Images/Maplestory2/MS2BWBG.png');
}

.MS2Colour {
    background-image: url('../Images/Maplestory2/MS2ColourBG.png');
    display: none;
    overflow: hidden;
    z-index: 30;
}

.MS2Side {
    position: absolute;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

@media only screen and (min-width: 0px) {
    .MS2Side {
        background-size: auto 50%;
        background-position: right -100px bottom;
        width: 50%;
    }

    .MS2Colour {
        display: block;
    }

    #MS2LogoColour {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .MS2Side {
        background-size: contain;
        height: 100%;
        width: 100%;
        background-position: right bottom;
    }

    .MS2Colour {
        display: none;
    }

    #MS2LogoColour {
        display: none;
    }
}

/* Main Scene */

#MS2Scene {
    background-image: url('../Images/Maplestory2/MS2SceneBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#MS2SceneLogo {
    position: absolute !important;
    bottom: 2px;
    right: 0;
    max-width: 40%;
}

#MS2Parallax {
    width: 100%;
    height: 100%;
}

#MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
    font-family: 'Kaushan Script', cursive;
    text-shadow: 3px 3px black;
    color: white;
    position: absolute;
    text-align: center;
}

#MSHeaderText {
    top: 25%;
    left: 0;
    right: 0;
}

#MSHeaderText2 {
    top: 35%;
    left: 0;
    right: 0;
}

#MSHeaderText3 {
    top: 45%;
    left: 0;
    right: 0;
}

.maplestory-button-cta {
    background: url(../Images/Maplestory2/button-normal.png) no-repeat top/100% 18.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-family: Viga;
    color: #373006;
    position: absolute;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-family: Viga;
    color: #373006;
    background-size: 100% 100%;
    transition: background ease-in-out 0.5s;
}
.maplestory-button-cta:hover {
    background-image: url(../Images/Maplestory2/button-hover.png);
}

@media only screen and (min-width: 0px) {
    #MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
        font-size: 32px;
    }

    .maplestory-button-cta {
        top: 57.5%;
        width: 255px;
        height: 48px;
        padding: 15px;
        font-size: 22px;
    }

    #MS2Actor1 {
        max-width: 200%;
        height: 50%;
        margin-top: 95%;
        margin-left: -10%;
    }

    #MS2Actor2 {
        max-width: 200%;
        height: 50%;
        margin-top: -10%;
        margin-left: -5%;
    }

    #MS2Scene {
        background-position: center bottom;
    }
}

@media only screen and (min-width: 768px) {
    #MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
        font-size: 62px;
    }

    .maplestory-button-cta {
        top: 70%;
        width: 455px;
        height: 68px;
        padding: 20px;
        font-size: 32px;
    }

    #MS2Actor1, #MS2Actor2 {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }

    #MS2Scene {
        background-position: right bottom;
    }
}

